<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Class <%= selectedClass.dataValues.id %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Home</a></li>
                <li class="main-header__item"><a href="/add-class">Add Class</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Class <%= selectedClass.dataValues.id %></h1>

        <ul>
            <li>Name: <%= selectedClass.dataValues.name %></li>
            <li>Year: <%= selectedClass.dataValues.year %></li>
            <li>Institution: <%= selectedClass.dataValues.institution %></li>
        </ul>

        <!-- falta fazer isso pros students  -->
        <li><a href="/class-studentes/<%= selectedClass.dataValues.id %>">See all Students in this Class <%= selectedClass.dataValues.id %></a></li>

        <br>

        <form method="GET" action="/edit-class/<%= selectedClass.dataValues.id %>">
            <button type="submit">Edit Class</button>
        </form>
        <br>
        <form method="POST" action="/delete-class/<%= selectedClass.dataValues.id %>">
            <button type="submit">Delete Class</button>
        </form>
    </main>
</body>

</html>
