<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Home</a></li>
                <li class="main-header__item"><a href="/add-student/<%= classInstance.id %>">Add Student</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Registered Students of Class <%= classInstance.name %></h1>

        <% if (students.length > 0) { %>
            <div class="grid">
                <% for (let student of students) { %>
                    <article class="card product-item">
                        <div class="card__content">
                            <h1><a href="/student/<%= student.dataValues.id %>"><p><%= student.dataValues.firstName %>  <%= student.dataValues.lastName %></p></a></h1>
                            <br>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Students Registered!</h1>
        <% } %>
    </main>
</body>

</html>